body {
  background-image: url(assests/background.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.site_header {
  position: absolute;
  top: 2em;
  align-self: center;
  text-align: center;
  font-size: 2em;
  color: white;
  margin: auto;
  transition: 1.4s ease-in-out; /* Transition speed */
}

.container {
  width: 83em;
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 18em;
  height: 23em;
  margin: 0 3em;
  opacity: 0.95;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: 1.2s ease-in-out; /* Transition speed */
  transform-style: preserve-3d; /* Preserves 3d container while moving */
}

.card:hover {
  transform: rotateY(0.5turn); /* 180 animation on hover */
}

.card .card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back of Card */
  transition: 1.2s ease-in-out; /* Transition speed */
  -webkit-box-reflect: below 0
    linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.8)); /* Cool reflection of cards below */
}

.card img {
  width: 18em;
  height: 23em;
  object-fit: cover;
}
#result {
  position: absolute;
  top: 1em;
  align-self: center;
  text-align: center;
  color: white;
  font-size: 4em;
}

/* Thinking about changing the effect to a shaking instead of flip transition */

/* Media Queries Need to work on this more when I reach Responsive section of Odin Project
@media only screen and (max-width: 768px) {
  .site_header {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
} */
